html{
    height: 100vh;
}

body{
  background: url("Images/backgroundImage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
    font-family: myFont;
    src: url("Fonts/PoiretOne-Regular.ttf");
}

@media all and (max-width: 1600px) { /* screen size until 1000px */

  .menu{
    height: auto !important;
  }
  #textArea{
    margin-bottom: 5%;
  }
  .previewImages{
    position: 70% 50% !important;
  }
  #pictureArea{
    width: 100% !important;
    margin-left: 0 !important;
  }
  .aboutUsPicture{
  }
}

.container{
  width: 100%;
  height: 100vh;

  padding: 0;
}

.titleArea{

  margin-bottom: 0%;
}

.menuSelection{

  margin-top: 0%;
  margin-left: 0%;
  height: auto;;
  width: 100%;
  float: left;
  padding: 0% 10%;

  border-top: 1px solid rgba(255,255,255,0.2);

}

.menu{
  width: auto;
  margin-left: auto;
  text-align: center;
}

.mainMenuElement{
  width: 19%;
  padding: 1% 0%;
  margin-right: 0.5%;
  background-color: rgba(255,255,255,0.1);
  float: left;

  font-family: myFont;
  font-size: 25px;
  color: white;
}

.mainMenuElement:hover{
    background-color: rgba(255,255,255,0.3);
    transition: background-color 0.3s ease;
}

li{
  text-decoration: none;
  list-style-type: none;
}

.preview{

  float: left;
  width: 96%;
  height: 60%;
  margin-left: 2%;
  margin-top: 1%;

  background-color: rgba(255,255,255,0.015);
}

#textArea{

  width: 80%;
  height: auto;
  float: left;
  margin-left: 10%;
  margin-top: 3%;
}

/*SECTIONS*/
.previewImages{

  width : 70%;
  height : 80%;
  float: left;
  margin-left : 14.5%;
  display: none;
}

.aboutUsPicture{

  background-size : cover;
  background-position: 10% 50%;
}

table{

    width: 100%;
    /*background-color: rgba(255,255,255, 0);*/
}

tr.headerRow{

  background-color: rgba(255,0,0, 0.1);
}

tr{

  width: 500px;
  background-color: rgba(255,255,255,0.1);
}

td{
  width: 25%;
}

tr > td{

    border: 1px solid rgba(255,255,255,0.2);
}

tr.headerRow > td{

    border: none;
}
