body{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: myFont;
    src: url("Fonts/PoiretOne-Regular.ttf");
}

/*Screen adjustments*/
@media all and (max-width: 1400px) { /* screen size until 1200px */
    .myContainer {
      font-size: 70% !important; /* 1.5x default size */
    }
    .homeHeaderLogo{
      font-size: 320% !important; /* 1.5x default size */
      line-height: 230%;
    }
    .headerNotifications{
      width: 8% !important;
    }
    #notificationAmount{
      font-size: 50% !important;
      margin-top: 60% !important;
      margin-left: 70% !important;
    }
    .titleArea{
      margin-top: 5% !important;
      height: 15% !important;
    }
    .largeText{
      font-size: 300% !important;
    }
}
@media all and (max-width: 991px) { /* screen size until 1000px */

  .myContainer {
      font-size: 95% !important; /* 1.2x default size */
  }
  .homeHeaderLogo{
      width: 10%;
      line-height: 250% !important;
      font-size: 200% !important; /* 1.5x default size */
  }
  .headerButtonsContainer{
    width: 67% !important;
  }
  .headerNotifications{
    width: 8%;
  }
  .headerButtonManager{
    font-size: 90% !important;
    width: 11% !important;
  }
  .mainButtonRow{
    border: none !important;
  }
}

/* DIVS */
.container{

  background-image: url("Images/backgroundImage.jpg");
  background-size:cover;
  width: 100%;
  height: 100vh;
}

.preheader{

  width: 100%;
  height: 4%;
}

.header{

  width: inherit;
  height: 75px;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

.headerNotifications{

  float: left;
  width: 5%;
  height: 100%;
  background-image: url("Images/notificationIcon/notification_icon.png");
  background-size:cover;
  background-color: rgba(255,255,255,0);
}

.headerNotifications:hover{
  background-color: rgba(255,255,255,0.1);
}

.headerNotifications:active{
  background-color: rgba(255,255,255,0.2);
}

.notificationAmmount{

  float: left;
  margin-top: 50%;
  margin-left: 70%;

  background-color: rgba(255,255,255,0);
  padding: 2% 5%;
  font-size: 15px !important;
}

.headerButtonsContainer{

  float: left;
  width: 60%;
  height: 100%;
}

.headerButton{

  margin: 0px;
  padding: 0px;
  width: 15%;
  height: 100%;
}

.headerButtonManager{

  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 100%;

  font-size: 100% !important;
}

.homeHeaderLogo{

  float: left;
  width: 20%;
  margin-left: 5%;
  height: 100%;
  line-height: 180%;
}

.main{

  height: 40%;
}

.titleArea{

  height: 10%;
  width: 100%;
  float: left;
  margin-top: 1%;
  margin-bottom: 1%;
}

.title{

  height: 100%;
  line-height: 180%;
}

/*Elements*/
.buttonHome{

  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-right: 1px solid rgba(255,255,255,0.2);
}

.buttonHome:hover{
  background-color:rgba(255,255,255,0.1);
}

.buttonHome:focus{
  background-color:rgba(255,255,255,0.3);
  outline: none;
}

/*TEXT*/

.largeText{

  font-family: myFont;
  font-size: 40px;
  color: white;
  text-align: center;
}

.smallText{

  font-family: myFont;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 150%;
}
