body{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: myFont;
    src: url("Fonts/PoiretOne-Regular.ttf");
}

/* DIVS */
.container{

  background-image: url("Images/backgroundImage.jpg");
  background-size:cover;
  width: 100%;
  height: 100vh;
}

.header{

  width: inherit;
  height: 360px;
  border-top: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("Images/NewOrder/picture1.jpg");
  background-size:cover;
}

.headerMenu{

  height: 20%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  margin-top: 2%;

}

.homeHeaderLogo{

  float: left;
  width: 20%;
  margin-left: 5%;
  /*margin-right: 5%;*/
  height: 100%;
  line-height: 180%;
}

.headerNotifications{

  float: left;
  width: 5%;
  height: 100%;
  background-image: url("Images/notificationIcon/notification_icon.png");
  background-size:cover;
  background-color: rgba(255,255,255,0);
}

.headerNotifications:hover{
  background-color: rgba(255,255,255,0.1);
}

.headerNotifications:active{
  background-color: rgba(255,255,255,0.2);
}

.notificationAmmount{

  float: left;
  margin-top: 50%;
  margin-left: 70%;

  background-color: rgba(255,255,255,0);
  padding: 2% 4%;
  font-size: 15px !important;
}

.headerButtonsContainer{

  float: left;
  width: 60%;
  height: 100%;
}

.headerButton{

  margin: 0px;
  padding: 0px;
  width: 15%;
  height: 100%;
}

.main{

  height: 40%;
}

.paragraph{

  width: 20%;
  height: 70%;
  margin-left: 10%;
  float: left;
  margin-top: 2%;
}

.paragraphPicture{
  margin: auto;
  height: 150px;
  width: 300px;
}

  #newOrder{
    background-image: url("Images/HomeIcons/icon1.png");
    background-size:cover;
    background-size: 32% 60%;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  #newOrder:hover{
    opacity: 1;
  }

  #myOrders{
    background-image: url("Images/HomeIcons/icon2.png");
    background-size:cover;
    background-size: 30% 60%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  #myOrders:hover{
    opacity: 1;
  }

  #aboutUs{
    background-image: url("Images/HomeIcons/icon3.png");
    background-size:cover;
    background-size: 38% 65%;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  #aboutUs:hover{
    opacity: 1;
  }

#welcomeMessage{

  width: 100%;
  height: 70px;
  margin-top: 2%;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/*ELEMENTS*/
.buttonHome{

  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-right: 1px solid rgba(255,255,255,0.2);
}

.buttonHome:hover{
  background-color:rgba(255,255,255,0.1);
}

.buttonHome:focus{
  background-color:rgba(255,255,255,0.3);
  outline: none;
}

/*TEXT*/

.largeText{

  font-family: myFont;
  font-size: 40px;
  color: white;
  text-align: center;
}

.mediumText{

  font-family: myFont;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 150%;
}

.smallText{

  font-family: myFont;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 150%;
}
