html{
    height: 100vh;
}

body{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: myFont;
    src: url("Fonts/PoiretOne-Regular.ttf");
}

@media all and (max-width: 1400px) { /* screen size until 1200px */
    .container {
      font-size: 70% !important; /* 1.5x default size */
    }
    .homeHeaderLogo{
      font-size: 320% !important; /* 1.5x default size */
      line-height: 230%;
    }
    .headerNotifications{
      width: 8% !important;
    }
    #notificationAmount{
      font-size: 50% !important;
      margin-top: 60% !important;
      margin-left: 70% !important;
    }
    .paragraph{
      margin-top: 3% !important;
      margin-bottom: 1% !important;
    }
    #welcomeMessage{
      height: 10% !important;
      margin-top: 6% !important;
      margin-bottom: 6%;
      font-size: 400% !important;
    }
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
    .container {
        font-size: 95% !important; /* 1.2x default size */
    }
    .homeHeaderLogo{
        width: 10%;
        line-height: 250% !important;
        font-size: 200% !important; /* 1.5x default size */
    }
    .headerButtonsContainer{
      width: 67% !important;
    }
    .headerNotifications{
      width: 8%;
    }
    .headerButtonManager{
      font-size: 90% !important;
      width: 11% !important;
    }
    .mediumText{
      font-size: 250% !important;
    }
    .homeIconContainer{
      border-top: 1px solid rgba(255,255,255,0.2) !important;
      margin-bottom: 2% !important;
      margin-top: 1% !important;
    }
    #welcomeMessage{
      border: none !important;
      margin-bottom: 20% !important;
    }
    #aboutUsContainer{
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
  }
body{

  margin: 0;
  padding: 0;

  background: url("Images/backgroundImage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* DIVS */
.container{

  width: 100%;
  height: 100vh;

  padding: 0;
}

.header{

  width: inherit;
  height: 360px;
  border-top: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("Images/NewOrder/picture1.jpg");
  background-size:cover;
  background-position: center;
}

.headerMenu{

  height: 20%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  margin-top: 2%;

}

.homeHeaderLogo{

  float: left;
  width: 20%;
  margin-left: 5%;
  /*margin-right: 5%;*/
  height: 100%;
  line-height: 180%;
}

.headerNotifications{

  float: left;
  width: 5%;
  height: 100%;
  background-image: url("Images/notificationIcon/notification_icon.png");
  background-size:cover;
  background-color: rgba(255,255,255,0);
}

.headerNotifications:hover{
  background-color: rgba(255,255,255,0.1);
}

.headerNotifications:active{
  background-color: rgba(255,255,255,0.2);
}

.notificationAmmount{

  float: left;
  margin-top: 50%;
  margin-left: 70%;

  background-color: rgba(255,255,255,0);
  padding: 2% 4%;
  font-size: 15px !important;
}

.headerButtonsContainer{

  float: left;
  width: 60%;
  height: 100%;
}

.headerButton{

  margin: 0px;
  padding: 0px;
  width: 15%;
  height: 100%;
}

#headerButtonManager{

  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 100%;

  font-size: 100%;
}

#logOutButton{
  font-size: 100%;
  height: 100%;
}

.main{

  height: 40%;
}

.homeIconDescription{
  width: 100% !important;
}

.paragraph{

  height: 70%;
  margin-top: 15%;
}

.paragraphPicture{
  margin: auto;
  height: 150px;
  width: 300px;
}

  #newOrder{
    background-image: url("Images/HomeIcons/icon1.png");
    background-size:cover;
    background-size: 32% 60%;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  #newOrder:hover{
    opacity: 1;
  }

  #myOrders{
    background-image: url("Images/HomeIcons/icon2.png");
    background-size:cover;
    background-size: 30% 60%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  #myOrders:hover{
    opacity: 1;
  }

  #aboutUs{
    background-image: url("Images/HomeIcons/icon3.png");
    background-size:cover;
    background-size: 38% 65%;
    background-position: 50% 55%;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  #aboutUs:hover{
    opacity: 1;
  }

#welcomeMessage{

  width: 100%;
  height: 70px;
  margin-top: 2%;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

/*ELEMENTS*/
.buttonHome{

  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  border-right: 1px solid rgba(255,255,255,0.2);
}

.buttonHome:hover{
  background-color:rgba(255,255,255,0.1);
}

.buttonHome:focus{
  background-color:rgba(255,255,255,0.3);
  outline: none;
}

/*TEXT*/

.largeText{

  font-family: myFont;
  font-size: 40px;
  color: white;
  text-align: center;
}

.mediumText{

  font-family: myFont;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 150%;
}

.smallText{

  font-family: myFont;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 150%;
}
