@font-face {
    font-family: myFont;
    src: url("Fonts/PoiretOne-Regular.ttf");
}

@media all and (max-width: 991px) { /* screen size until 1000px */

  .mainMenuLeft, .mainMenuRight{
    height: 30% !important;
    border-right: 0px !important;
  }

  .mainMenuRight{
    margin-top: 20% !important;
    border-left: 1px solid rgba(255,255,255,0.5);
  }

  .mainMenuSelection{
    font-size: 250% !important;
  }

  .mainPreview{
    width: 80% !important;
    height: 40% !important;
  }

  .mainRow{
    padding: 0% 30% !important;
  }

  .mainText{
    font-size: 200% !important;
  }

  .mainTitle{
    font-size: 400% !important;
  }

  .authenticationLeft{
    height: 40% !important;
  }

  .authenticationRight{
    border-left: 0px !important;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }

  .authenticationSection, .aboutUsSection, .contactSection{
    height: auto !important;
    border-bottom: 0 !important;
  }

  .footerContainer{
    width: 100% !important;
    margin-top: 50px !important;
  }

  .button{

    width: 200px !important;
    height: 50px !important;
    margin-top: 5% !important;
  }

  .mainButtonRow{
    margin-left: 20% !important;
  }

  .mainTextInput{
    padding: 3% !important;
  }

  .aboutUsSection{
    border: 0 !important;
  }

  #mainAboutUs{
    margin-top: 5% !important;
  }

  .aboutUsImages{
    height: 500px !important;
  }

  .aboutUsImage{
    margin: 2% 2% !important;
  }
}

body{
  margin: 0;
  padding: 0;

  background: url("Images/backgroundImage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footerContainer{
  float:left;
  padding: 2% 15% !important;
}

.containerMainPage{

  width: 100%;
  height: 100%;
}

.coverSection, .authenticationSection, .aboutUsSection{

  height: 100vh;
  width: 100%;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.contactSection{

  height: 80vh;
  width: 100%;

  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.mainMenuContainer{
  width: 100%;
  float: left;
  height: inherit;
}

.mainPreviewContainer{
  float: left;
  width: 60%;
  height: inherit;
}

.mainMenuLeft{

  width: 49%;
  height: inherit;
  border-right: 1px solid rgba(255,255,255,0.8);
  opacity: 0.3;
  float: left;
  text-align: right;
}

.mainMenuRight{

  height: 50%;
  width: 100%;

  float: right;
  margin-top: 15%;
}

.pageTitle{

  font-family: myFont;
  font-size: 300%;
  font-weight: 200;
  color: white;
  text-align: left;

  height: auto;
  width: 100%;
  margin: 30% 0 80% 20%;
}

.pageMotto{

  opacity: 1 !important;
  font-family: myFont;
  font-size: 200%;
  color: rgba(255,255,255,1);
  font-style: italic;

  padding: 0 15%;
}

.mainMenuSelection{

  width: 100%;
  height: 100%;

  font-family: myFont;
  font-size: 130%;
  color: white;

  text-decoration: none;
}

.mainMenuElement{

  width: 100%;
  text-align: left;
  padding: 5px 30px 10px 10px;
  text-decoration: none;
}

.aboutUsImages{

  height: 30%;
  width: 100%;

  padding: 1% 15% 1% 15%;
}

.aboutUsImage{

  height: 100%;
  width: 49%;
}

#aboutUsImage1{

  background-image: url("Images/Cars/car1.jpg");
  background-size:cover;
  background-position: 50% 70%;
}

#aboutUsImage2{
  background-image: url("Images/Cars/car2.jpg");
  background-size:cover;
  background-position: 50% 70%;
}

#mainContact{

  text-align: center;
}

.loginPicture{

  float: left;
  margin-top: 0.2%;

  background-size:cover;
  background-position: center;
}

#loginPicture{

  width: 135%;
  margin-left: -21%;
  height: 200px !important;
  margin-top: 20%;
  background-image: url("Images/Cars/car8.png");
  background-position: 50% 85%;

}

.contactRow{

  padding: 0 20%;
  margin-left: 5%;
}


ul:hover, li:hover, ul, li{

  text-decoration: none;
  list-style-type: none;
  color: white;
}


a, a:link, a:visited, a:active {

  color: white !important;
}

a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none !important;
    cursor: auto;
}

p{

  padding: 0;
  margin: 0;
}
