body{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: myFont;
    src: url("Fonts/PoiretOne-Regular.ttf");
}

/*Screen adjustments*/
@media all and (max-width: 991px) { /* screen size until 1000px */

  .mainParagraph{
    margin-top: 5% !important;
  }
  #orderClearButton, #orderConfirmButton{
    padding: 1% 3% !important;
  }

}

/*ORDER*/

.mainParagraph{

  float: left;
  font-size: 16px;
  width: 70%;
  height: 150%;
  margin-left: 20%;
  margin-top: 1%;
  padding: 2% 0% 0% 2%;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainParagraph::-webkit-scrollbar {
    width: 1em;
}

.mainParagraph::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
}

.mainParagraph::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}

#orderForm{
  width: 100%;
  height: 100%;
}

.mainRow{
  width: 100%;
  height: 50px;
  margin-top: 1%;
  float: left;
}

.mainButtonRow{
  margin: 3% 0% 0% 18.5%;
}

.orderResponseText{

  width: 90%;
  height: 90%;
  font-size: 20px;
  font-family: myFont;
  color: red;
  text-align: left;
  margin-left: 5%;
  margin-top: 3%;
}

.orderResponseRow{
  background-color: rgba(255, 0, 0, 0.1);
  margin-top: 1%;
  width: 40% !important;
  height: 20%;
  margin-left: 29.5%;
  float: left;
}

.mainText{
  font-size: 17px;
  font-family: myFont;
  color: white;
  padding: 0% 0% 0% 10%;
  text-align: left;
  float: left;
}

.mainTextInput{
  float: left;
  padding: 0.7% 1%;
  text-align: center;
  font-size: 12px;
}

.midText{
  color: white;
  font-family: myFont;
  font-size: 20px;
  float: left;
  width: 5% !important;

  padding: 0 !important;
}

.largerMediumTextInput{
  padding: 0.9% 1.1%;
}

#pasangerNames{
  width: 100%;
  float: left;
}

/*ELEMENTS*/
.inputSection{
  padding: 0;
}

.timeInputElement{
  float: left;
  width: 20%;
  height: 100%;
  padding: 2% 0;
  margin: 0;
}

#timeButtonAM, #timeButtonPM{
  float: right;
}

.button{
  padding: 0.5% 3%;
  background-color:rgba(255,255,255,0);
  color: white;
  border: 1px solid white;

  font-family: myFont;
  font-size: 18px;
}

.button:hover{
  background-color:rgba(255,255,255,0.2);
}

.button:focus{
  background-color:rgba(255,255,255,0.2);
  outline: none;
}

.orderSelect{
  float: left;
  background-color: rgba(255,255,255,0.05);
}

.smallButton{

  float: left;
  font-size: 14px;
  margin-left: 1% !important;
  padding: 1.7% 0%;
}

#minusButton{

  width: 20%;
  float: right;
}

#plusButton{

  width: 20%;
  float: right;
}

.paymentType{

  width: 100%;
  float: left;
  margin: 1% 0%;
}

#paymentTypeButton, .paymentSelection{
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.7% 0;
}

#orderDateButton{
  margin-left: 3.2%;
  float: left;
}

#datepickerMain{

  float: left;
  height: 280px;
  width: 80%;
  margin: 2% 0%;
}

#orderPasangers{
  width: 45%;
}

.errorMessage{

  margin-top: 0%;
  padding: 0.7% 0%;

  font-size: 15px;
  font-family: myFont;
  color: red;
  float: right;

  background-color: rgba(255, 0, 0, 0.1);
}

#errorOrderPaymentType{

  float:right;
}

#orderBackButton{

  margin-left: 0.3%;
}
