table{
  width: 100%;

}

tr{
  height: 30px;
}

td{
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  width: 200px;
  height: 30px;
}

td.idCol{

  width: 5.3%;
}

td.dateCol{
  width: 15%;
}

td.dateColRoute{
  width: 30%;
}

td.emailCol{
  width: 40%;
}

td>input{

  background-color: rgba(255,255,255,0.0);
  border: none;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;


  font-family: myFont;
}

td>input.invalidRow{

  color: rgba(255,0,0,1);
}

td>input:focus{

  outline: none;
  border: none;
  /*background-color: rgba(255,255,255,0.2);*/
}

td>input:hover{

  outline: none;
  border: none;
  /*background-color: rgba(255,255,255,0.2);*/
}

.tableRow{

  font-size: 14px;
}

.confirmedInput{

  background-color: rgba(255,255,255,0.2);
}

.buttonColumnHeader{

  background-color:rgba(255,0,0,0.0);
  border: none;
  font-size: 18px;
  border: 1px solid rgba(0,0,0,0.0);
  width: 10%;
}

.buttonColumn{

    background-color:rgba(255,0,0,0.1);
    border: none;
    font-size: 18px;
}

.editButton{

  background-color:rgba(255,255,255,0.1);
  border: none;
  font-size: 18px;
}

.editButton:hover{

  background-color:rgba(255,255,255,0.2) !important;
}

.confirmButton{

  background-color:rgba(255, 255, 255,0.2);
}

.routeStickersButton{

  background-color:rgba(255, 255, 255,0.1);
  width: 10%;
}

.routeConfirmButton{

  background-color:rgba(255, 255, 255,0.2);
  width: 7%;
}

.routeUpdateButton{

  background-color:rgba(255, 255, 255,0.1);
  width: 7%;
}

.routeDetailsButton{

  background-color:rgba(255, 255, 255,0.1);
  width: 5%;
}

.routeStickersButton:hover, .routeConfirmButton:hover, .routeUpdateButton:hover, .routeDetailsButton:hover{

  background-color:rgba(255, 255, 255,0.3) !important;
}

.emptyButton{

  background-color:rgba(255, 255, 255,0.05);
  border: none;
}

.selectButton{

  background-color: rgba(255, 255, 255,0.2);
  width: 15%;
}

.selectButton:hover{

  background-color: rgba(255, 255, 255,0.3) !important;
}

.confirmButton:hover{

  background-color:rgba(255, 255, 255,0.3) !important;
}

.buttonColumn:hover{
  background-color:rgba(255,0,0,0.2);
}
