table{
  width: 100%;

}

tr{
  height: 30px;
}

td{
  border: 1px solid rgba(255,255,255,0.2);
  background-color: rgba(255,255,255,0.1);
  width: 200px;
  height: 30px;
}

td>input{

  background-color: rgba(255,255,255,0.0);
  border: none;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;


  font-family: myFont;
}

td>input:focus{

  outline: none;
  border: none;
  /*background-color: rgba(255,255,255,0.2);*/
}

td>input:hover{

  outline: none;
  border: none;
  /*background-color: rgba(255,255,255,0.2);*/
}

.tableRow{

  font-size: 14px;
}

.buttonColumnHeader{

  background-color:rgba(255,0,0,0.0);
  border: none;
  font-size: 18px;
  border: 1px solid rgba(0,0,0,0.0);
  width: 10% !important;
}

.buttonColumn{

    background-color:rgba(255,0,0,0.1);
    border: none;
    font-size: 18px;
}

.editButton{

  background-color:rgba(255,255,255,0.1) !important;
  border: none;
  font-size: 18px;
}

.editButton:hover{

  background-color:rgba(255,255,255,0.2) !important;
}

.buttonColumn:hover{
  background-color:rgba(255,0,0,0.2);
}
