html{
    height: 100vh;
}

body{
  margin: 0;
  padding: 0;

  background: url("Images/backgroundImage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media all and (max-width: 992px) { /* screen size until 1000px */

  .typeButtonArea{
    margin-top: 20%;
  }
}

.employeesTableArea{

  float: left;
  margin-left: 3%;
  margin-top: 0.5%;
  height: 35%;
  width: 94%;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;

  -webkit-transition: height 0.5s; /* Safari */
  transition: height 0.5s;
}

.employeesTableArea::-webkit-scrollbar {
    width: 1em;
}

.employeesTableArea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.employeesTableArea::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}

/* SEARCH */

.employeeSearchBarArea{

  float: left;
  width: 93.5%;
  height: 50px;
  margin-left: 2%;
  margin-bottom: 0.5%;

  background-color: rgba(255,255,255,0.0);
}

.searchBarElement{

  float: left;
  height: 100%;
}

#typeArea{

  width: 40%;
}

#emailArea{
    width: 20%;
}

#fnameArea{

  width: 15%;
}

#lnameArea{

  width: 15%;
}

#buttonArea{

  width: 9.8%;
}

.searchBarStyle{

  background-color: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.5);
  outline: none;
  color: white;

  font-size: 18px;
  font-family: myFont;
}

.searchBarStyle:hover{

  background-color: rgba(255,255,255,0.3);
  border: 1px solid rgba(255,255,255,0.5);
}

.typeButton{

  height: 95%;
  padding-left: 3%;
  padding-right: 3%;

  background-color: rgba(255,255,255,0.0);
  border: 1px solid rgba(255,255,255,0.5);

  color: white;
  font-family: myFont;
  font-size: 18px;
  outline: none;
}

.alertButton{

  width: 15%;
  height: 40%;
  margin-top: 2%;
  margin-right: 1%;

  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3);
  color: white;

  font-family: myFont;
  outline: none;
}

#cancelButton{

    width: 5%;
    background-color: rgba(255,255,255,0.0);
}

#cancelButton:hover{

    background-color: rgba(255,255,255,0.3);
}

.alertButton:hover{

    background-color: rgba(255,255,255,0.2);
}

.inputElement{

  width: 97%;
  height: 90%;
  padding: 0;
  padding-left: 5%;
  margin: 1% 0;
}

#customersButton{

  width: auto;
  margin-left: 3%;
}

#transportersButton{

  width: auto;
}

#managersButton{

  width: auto;
}

#clearButton{

  float: left;
  width: auto;
  height: 95%;
  padding: 0 5%;
  margin: 0;

  text-align: center;

  background-color: rgba(255,255,255,0.0);
}

#clearButton:hover{

  background-color: rgba(255,255,255,0.1);
}

.responseArea{

  height: 8%;
  width: 72.5%;
  float: left;
  margin-left: 3%;
  margin-top: 1%;
  padding: 1% 1%;

  background-color: rgba(255,255,255,0.2);
  border : 1px solid rgba(255,255,255,0.4);

  font-family: myFont;
  font-size: 20px;
  color: white;
}

.registrationArea{

  float: left;
  height : 5%;
  width: 83.5%;

  margin-top: 1%;
  margin-left: 3%;

  overflow-y: scroll;
  overflow-x: hidden;
}

.registrationArea::-webkit-scrollbar {
    width: 1em;
}

.registrationArea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.registrationArea::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid slategrey;
}

.userButton{

  float: right;
  height: auto;
  padding: 0% 0%;

  background-color: rgba(255,255,255,0);
  border : 1px solid rgba(255,255,255,0.3);
  outline: none;
  color: white;

  font-size: 15px;
  font-family: myFont;
}

.userButton:hover{

  background-color: rgba(255,255,255,0.1);
}

#newUserButton{

  float: right;
  width: 11%;
  height: 50px;
  margin-right: 10%;
  padding: 0;

  background-color: rgba(255,255,255,0);
  border : 1px solid rgba(255,255,255,0.3);
  color: white;

  font-size: 15px;
  font-family: myFont;
}

#newUserButton:hover{

  background-color: rgba(255,255,255,0.1);
}

#formArea{

  background-color: rgba(255,255,255,0.1);
  height: 0%;
  transition: height 0.5s;
}

#registerTitle{

  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size : 25px;
}

#columnArea{

  height : 150px;
  width: 100%;
}

.registerColumn{

  float: left;
  height: 100%;
}
#leftErrColumn, #rightErrColumn{

}

#leftErrColumn{

  margin-left: 3.5%;
}

#leftColumn{

  float: left;
}

#rightColumn{

  float: left;
}

.registerRow{

  float: left;
  height : 40px;
  margin-top: 1%;
}

.rowError{

  float: left;
  height: 90%;
  text-align: center;

  background-color: rgba(255, 0,0,0.1);
  border: 1px solid rgba(255,0,0,0.3);
  color: red;
}

.rowTitle{

  height: 100%;
  text-align: left;
}

.rowTextInput{

  float: left;
  margin-top: 1%;
  height: 60%;

  outline: none;
  font-family: myFont;
  font-weight: bold;
  font-size: 18px;
}

#generatePasswordButton{

  float: left;
  margin-left: 1%;
  padding: 0% 1%;
  height: 75%;
  width: auto;
}

.typeButtonArea{

  height: 30px;
  width: 100%;
}

.registerTypeButton{

  float: left;
  width: 20%;
}

.registerTypeButton:hover{

  background-color: rgba(255,255,255,0.1);
}

.registerActionButton{

  float: left;
  height : 130%;
  margin-top: 1%;
  padding: 1% 3%;
  margin-bottom: 5%;
}

#registerCustomerButton{

  margin-left: 20%;
  background-color: rgba(255,255,255,0.3);
}

#registerSubmitButton{

  margin-left: 38.5%;
  margin-right: 1%;
}

p{

  margin: 0;
}

.changeButton{
  width: 15%;
}
