<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="../Css/generalPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/aboutUsStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Global/getRequests.js"></script>
    <script src="../JQuery/Global/headerButtons.js"></script>
    <script src="../JQuery/Customer/aboutUsLoad.js"></script>
    <script src="../JQuery/Customer/aboutUs.js"></script>
    <script src="../JQuery/Global/notificationsAmmount.js"></script>

    <meta charset="UTF-8">
    <title>About Us</title>
  </head>
  <body>
    <div class="container">
      <div class="preheader"></div>
       <div class="header">
         <div class="homeHeaderLogo largeText">VIP Transport</div>
         <div class="headerNotifications" id="notifications">
           <div class="notificationAmmount smallText"></div>
         </div>
         <div class="headerButtonsContainer"></div>
       </div>
      <div class="titleArea">
        <div class="title largeText" id="titleOrder">About Us</div>
      </div>
      <div class="menuSelection">
        <ul class="menu">
          <li class="mainMenuElement" id="menuVIPTransport">VIP Transport</li>
          <li class="mainMenuElement" id="menuTransporters">Transporters</li>
          <li class="mainMenuElement" id="menuCars">Cars</li>
          <li class="mainMenuElement" id="menuPriceList">Price list</li>
          <li class="mainMenuElement" id="menuContact">Contact</li>
        </ul>
      </div>
      <div class="preview">
        <div class="smallText" id="textArea"></div>
        <div id="pictureArea" class="previewImages"></div>
      </div>
    </div>
  </div>
</body>
