<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../Css/homeStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Home/homeLoad.js"></script>
    <script src="../JQuery/Global/session.js"></script>

    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="preheader"></div>
      <div class="header">
        <div class="homeHeaderLogo largeText">VIP Transport</div>
        <div class="headerButtonsContainer">

        </div>
      </div>
      <div class="main">

      </div>
      <div class="footer">

      </div>
    </div>
  </body>
</html>
