<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../Css/homeStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/widgetsStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Customer/homeLoad.js"></script>
    <script src="../JQuery/Customer/homeClick.js"></script>
    <script src="../JQuery/Global/headerButtons.js"></script>
    <script src="../JQuery/Global/getRequests.js"></script>
    <script src="../JQuery/Global/notificationsAmmount.js"></script>

    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="headerMenu">
          <div class="homeHeaderLogo largeText">VIP Transport</div>
          <div class="headerNotifications" id="notifications">
            <div class="notificationAmmount smallText" id="notificationAmount"></div>
          </div>
          <div class="headerButtonsContainer"></div>
        </div>
      </div>
      <div class="main">
        <div id="welcomeMessage" class="largeText"></div>
        <div class="homeIconContainer col-xs-12 col-sm-12	col-md-4 col-lg-4">
          <div class="paragraph" id="newOrderParagraph">
            <div class="mediumText homeIconDescription">Proceed to order</div>
            <a href="newOrderPage.html"><div class="paragraphPicture" id="newOrder"></div></a>
          </div>
        </div>
        <div class="homeIconContainer col-xs-12 col-sm-12	col-md-4 col-lg-4">
          <div class="paragraph" id="checkTransportsParagraph">
            <div class="mediumText homeIconDescription" id="checkTransportsTitle">Check your transports</div>
            <a href="myTransportsPage.html"><div class="paragraphPicture" id="myOrders"></div></a>
          </div>
        </div>
        <div class="homeIconContainer col-xs-12 col-sm-12	col-md-4 col-lg-4" id="aboutUsContainer">
          <div class="paragraph">
            <div class="mediumText homeIconDescription">Find out about us</div>
            <a href="aboutUsPage.html"><div class="paragraphPicture" id="aboutUs"></div></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
