<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../Css/mainStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/mainPreviewStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/Source/jquery-easing.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Main/mainLoad.js"></script>
    <script src="../JQuery/Main/mainOrder.js"></script>
    <script src="../JQuery/Main/mainRegister.js"></script>
    <script src="../JQuery/Main/mainLogin.js"></script>
    <script src="../JQuery/Global/session.js"></script>

    <meta charset="UTF-8">
    <title>VIP Transport | Main page</title>
  </head>
  <body>
    <div class="container">
      <div class="mainMenuContainer">
        <div class="mainMenuSelection">
          <ul class="mainMenu">
            <a href="#mainOrder"><li class="mainMenuElement">Order Now</li></a>
            <a href="#mainRegister"><li class="mainMenuElement">Register</li></a>
            <a href="#mainLogin"><li class="mainMenuElement">Login</li></a>
            <a href="#mainAboutUs"><li class="mainMenuElement">About us</li></a>
            <a href="#mainTransporters"><li class="mainMenuElement">Transporters</li></a>
            <a href="#mainCars"><li class="mainMenuElement">Cars</li></a>
            <a href="#mainContact"><li class="mainMenuElement">Contact</li></a>
          </ul>
        </div>
        <div class="mainMenuLeft"></div>
        <div class="mainMenuRight">
          <div class="pageTitle">
            VIP Transport
          </div>
        </div>
      </div>
      <div class="mainPreviewContainer">
        <div class="mainPreview">
            <div class="mainPicture main1"></div>
            <div class="mainPicture main2"></div>
            <div class="mainPicture main3"></div>
            <div class="mainPicture main4"></div>
            <div id="mainOrder" class="mainTitle mainTextStyle">Create Order</div>
              <div class="mainParagraph">
                <div class="mainRow">
                  <div class="mainText">Username: </div><input type="text" id="orderUsername" class="mainTextInput" maxlength="30">
                </div>
                <div class="mainRow">
                  <div class="mainText">Company name: </div><input type="text" id="orderCompanyName" class="mainTextInput" maxlength="30">
                </div>
                <div class="paymentType">
                  <div class="button" id="paymentTypeButton">Select payment</div>
                  <div class="button paymentSelection">Credit Card</div>
                  <div class="button paymentSelection">Cash</div>
                  <div class="button paymentSelection" id="paymentBill">Bill</div>
                </div>
                <div class="mainRow">
                  <div class="mainText">Departure date: </div>
                  <div class="button orderSelect" id="orderDate">Select date</div>
                  <input type="button" id="orderDateButton" class="button orderButton smallButton" value=". . .">
                </div>
                <div id = "datepickerMain" ></div>
                <div class="mainRow">
                  <div class="mainText">Departure time:</div>
                  <input type="text" id="orderTimeHour" class="mainTextInput largerMediumTextInput" value="Hour" maxlength="2">
                  <div class = "midText">:</div>
                  <input type="text" id="orderTimeMinute" class="mainTextInput largerMediumTextInput" value="Minute" maxlength="2">
                  <input type="button" name="amButton" value="AM" class="button smallButton orderButton" id="timeButtonAM">
                  <input type="button" name="pmButton" value="PM" class="button smallButton orderButton" id="timeButtonPM">
                </div>
                <div class="mainRow">
                  <div class="mainText">From: </div><input type="text" id="ordeFrom" class="mainTextInput" maxlength="30">
                </div>
                <div class="mainRow">
                  <div class="mainText">To: </div><input type="text" id="orderTo" class="mainTextInput" maxlength="30">
                </div>
                <div class="mainRow">
                  <div class="mainText">Pasangers: </div>
                  <div class="button orderSelect"  id="orderPasangers">2</div>
                  <input type="button" name="plusButton" value="+" class="button smallButton orderButton" id="plusButton">
                  <input type="button" name="minusButton" value="-" class="button smallButton orderButton" id="minusButton">
                </div>
                <div class="mainRow mainButtonRow">
                  <input type="button" name="submitRegistration" value="Confirm" class="button">
                  <input type="button" name="clearRegistration" value="Clear" class="button" id="orderClearButton">
                </div>
              </div>
            <div class="mainTitle mainTextStyle" id="mainRegister">Register</div>
            <div class="mainParagraph">
              <form action="../../Server/Responses/register.php" method="post" class="ajax" id="registerForm">
                <div class="mainRow">
                  <div class="mainText">Email:</div><input type="text" name="email" id="registrationEmail" class="mainTextInput" maxlength="30">
                  <div class="errorMessageRegister errorMessage" id="errorRegistrationEmail"></div>
                </div>
                <div class="mainRow">
                  <div class="mainText">First name:</div><input type="text" name="firstName" id="registrationFirstName" class="mainTextInput" maxlength="30">
                  <div class="errorMessageRegister errorMessage" id="errorRegistrationFirstName"></div>
                </div>
                <div class="mainRow">
                  <div class="mainText">Middle name:</div><input type="text" name="middleName" id="registrationMiddleName" class="mainTextInput" maxlength="30">
                  <div class="errorMessageRegister errorMessage canSkip" id="errorRegistrationMiddleName"></div>
                </div>
                <div class="mainRow">
                  <div class="mainText">Last name:</div><input type="text" name="lastName" id="registrationLastName" class="mainTextInput" maxlength="30">
                  <div class="errorMessageRegister errorMessage" id="errorRegistrationLastName"></div>
                </div>
                <div class="mainRow">
                  <div class="mainText">Password:</div><input type="password" name="password" id="registrationPassword" class="mainTextInput" maxlength="30">
                  <div class="errorMessageRegister errorMessage" id="errorRegistrationPassword"></div>
                </div>
                <div class="mainRow">
                  <div class="mainText">Confirm password:</div><input type="password" id="registrationConfirmPassword" class="mainTextInput" maxlength="30">
                  <div class="errorMessageRegister errorMessage" id="errorRegistrationConfirmPassword"></div>
                </div>
                <div class="mainRow">
                  <div class="mainText">Phone number:</div><input type="text" name="phone" id="registrationPhone" class="mainTextInput" maxlength="30">
                  <div class="errorMessageRegister errorMessage" id="errorRegistrationPhone"></div>
                </div>
                <div class="mainRow mainResponseRow" id="registrationResponseField">
                  <div class="mainText mainResponseText" id="registrationResponseText"></div>
                </div>
                <div class="mainRow mainButtonRow">
                  <input type="submit" name="submitRegistration" value="Register" class="button" id=registrationSubmitButton>
                  <input type="button" name="clearRegistration" value="Clear" class="button" id="registrationClearButton">
                </div>
              </form>
            </div>

            <div id="mainLogin" class="mainTitle mainTextStyle">Login</div>
            <div class="mainParagraph">
              <form action="../../Server/Responses/login.php" method="post" class="ajax" id="loginForm">
                <div class="mainRow">
                  <div class="mainText">Email:</div><input type="text" id="loginEmail" class="mainTextInput" maxlength="30" name="email">
                  <div class="errorMessage errorMessageLogin" id="errorLoginEmail"></div>
                </div>
                <div class="mainRow">
                  <div class="mainText">Password:</div><input type="password" id="loginPassword" class="mainTextInput" maxlength="30" name="password">
                    <div class="errorMessage errorMessageLogin" id="errorLoginPassword"></div>
                </div>
                <div class="mainRow mainResponseRow" id="loginResponseField">
                  <div class="mainText mainResponseText" id="loginResponseText"></div>
                </div>
                <div class="mainRow mainButtonRow">
                  <input type="hidden" name ="token" id="loginToken" value="">
                  <input type="submit" value="Login" class="button" id="loginSubmitButton">
                  <input type="button" value="Clear" class="button" id="loginClearButton">
                </div>
              </form>
            </div>
            <div id="mainAboutUs" class="mainTitle mainTextStyle">About us</div>
            <div class="mainParagraph mainTextStyle">
              <p id="parAboutUs"></p>
            </div>
            <div id="mainTransporters" class="mainTitle mainTextStyle">Transporters</div>
            <div class="mainParagraph mainTextStyle">
              <p id="parTransporters"></p>
            </div>
            <div class="mainPicture transporter1"></div>
            <div class="mainPicture transporter2"></div>
            <div class="mainSpace"></div>
            <div id="mainCars" class="mainTitle mainTextStyle">Cars</div>
            <div class="mainParagraph mainTextStyle">
              <p id="parCars1"></p>
              <p id="parCars2"></p>
            </div>
            <div class="mainPicture car1"></div>
            <div class="mainPicture car2"></div>
            <div class="mainPicture car3"></div>
            <div class="mainPicture car4"></div>
            <div class="mainPicture car5"></div>
            <div class="mainSpace"></div>
            <div class="mainSpace"></div>
            <div id="mainContact" class="mainTitle mainTextStyle">Contact</div>
            <div class="mainRow">
              <div class="mainText">Company name:</div><div class="mainText">VIP transport s.r.o.</div>
              <div class="mainText">Address:</div><div class="mainText">Gemerská 4, 01008, Žilina</div>
              <div class="mainText">IČO:</div><div class="mainText">46304959</div>
              <div class="mainText">DIČ:</div><div class="mainText">2023323511</div>
              <div class="mainText">Mail:</div><div class="mainText">info@viptransport.sk</div>
              <div class="mainText">Phone:</div><div class="mainText">+421 911 301 111</div>
              <div class="mainSpace"></div>
              <div class="mainSpace"></div>
              <div class="mainSpace"></div>
              <div class="mainSpace"></div>
              <div class="mainSpace"></div>
            </div>
        </div>
      </div>
    </div>


  </body>
</html>
