<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../Css/mainStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/mainPreviewStyles.css">


    <meta charset="UTF-8">
    <title>VIP Transport | Main page</title>
  </head>
  <body>
    <div class="container">
      <div class="mainMenuContainer">
        <div class="mainMenuSelection">
          <ul class="mainMenu">
            <li class="mainMenuElement">Order Now</li>
            <li class="mainMenuElement">Register</li>
            <li class="mainMenuElement">Login</li>
            <li class="mainMenuElement">About us</li>
            <li class="mainMenuElement">Transporters</li>
            <li class="mainMenuElement">Cars</li>
          </ul>
        </div>
        <div class="mainMenuLeft"></div>
        <div class="mainMenuRight">
          <div class="pageTitle">
            VIP Transport
          </div>
        </div>
      </div>
      <div class="mainPreviewContainer">
        <div class="mainPreview">

            <div class="mainTitle mainTextStyle">Register</div>
            <div class="mainParagraph">
              <div class="mainRow">
                <div class="mainText">First name:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow">
                <div class="mainText">Middle name:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow">
                <div class="mainText">Last name:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow">
                <div class="mainText">Username:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow">
                <div class="mainText">Password:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow">
                <div class="mainText">Confirm password:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow">
                <div class="mainText">Email:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow mainButtonRow">
                <input type="button" name="submitRegistration" value="Register" class="button">
                <input type="button" name="clearRegistration" value="Clear" class="button">
              </div>
            </div>

            <div class="mainTitle mainTextStyle">Login</div>
            <div class="mainParagraph mainTextStyle">
              <div class="mainRow">
                <div class="mainText">Username:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow">
                <div class="mainText">Password:</div><input type="text" id="registrationUsername" class="registrationTextInput">
              </div>
              <div class="mainRow mainButtonRow">
                <input type="button" name="submitRegistration" value="Register" class="button">
                <input type="button" name="clearRegistration" value="Clear" class="button">
              </div>
            </div>

            <div class="mainTitle mainTextStyle">About us</div>
            <div class="mainParagraph mainTextStyle">
              <p>
                Spoločnosť VIP transport môžete využiť vždy, keď sa potrebujete prepraviť či už v rámci Slovenska alebo do zahraničia,
                ale taktiež na transfery na letiská (Žilina – letisko Viedeň, Žilina – letisko Praha,...). Vďaka tejto službe je zákazník odbremenený
                od starostí pri zanechaní auta na letisko, pri hľadaní alternatívneho odvozu, ale taktiež redukuje svoje náklady (napríklad na parkovanie).
              </p>
            </div>
            <div class="mainTitle mainTextStyle">Transporters</div>
            <div class="mainParagraph mainTextStyle">
              <p>
                Profesionálni vodiči spoločnosti sa dokážu prispôsobiť všetkým požiadavkam klienta. Samozrejmosťou je dres code všetkých
                šoférov, ktorý tvoria čierne nohavice a košela, v prípade požiadavky majú oblečený oblek. Každý zo šoférov ovláda
                minimálne základy anglického jazyka slovom. Taktiež všetky náležitosti vodiča ako sú psychotesty resp.
                preukaz vodiča sú samozrejmosťou.
              </p>
            </div>
            <div class="mainPicture transporter1"></div>
            <div class="mainPicture transporter2"></div>

            <div class="mainSpace"></div>
            <div class="mainTitle mainTextStyle">Cars</div>
            <div class="mainParagraph mainTextStyle">
              <p>
                Spoločnosť disponuje 5 a 8-miestymi vozidlami, takže dokáže ponúknuť najvyššie pohodlie aj v prípade prepravy
                väčšieho počtu osôb. Všetky autá sú v najlepšej výbave, preto poskytujú zákazníkovi maximálny komfort.
                Všetky autá sú neustále servisované, v dokonalom technickom stave.
              </p>
              <p>
                Spoločnosť VIP transport s.r.o. má k dispozícií vozidlá značky Hyundai – i40 kombi, i40 sedan a H1. Všetky
                vozidlá majú dostatočne veľký batožinový priestor, aby sa dokázali naplniť všetky požiadavky klienta aj v prípade
                prepravy väčšieho množstva batožiny.
              </p>
            </div>
            <div class="mainPicture car1"></div>
            <div class="mainPicture car2"></div>
            <div class="mainPicture car3"></div>
            <div class="mainPicture car4"></div>
            <div class="mainPicture car5"></div>
        </div>
      </div>

    </div>
  </body>
</html>
