<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../Css/generalPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/myProfileStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Global/getRequests.js"></script>
    <script src="../JQuery/Global/headerButtons.js"></script>
    <script src="../JQuery/Customer/myProfileLoad.js"></script>
    <script src="../JQuery/Customer/myProfileClick.js"></script>
    <script src="../JQuery/Customer/myProfileUpdate.js"></script>
    <script src="../JQuery/Global/notificationsAmmount.js"></script>

    <meta charset="UTF-8">
    <title>My Profile</title>
  </head>
  <body>
    <div class="container">
      <div class="preheader"></div>
       <div class="header">
         <div class="homeHeaderLogo largeText">VIP Transport</div>
         <div class="headerNotifications" id="notifications">
           <div class="notificationAmmount smallText"></div>
         </div>
         <div class="headerButtonsContainer"></div>
       </div>
      <div class="titleArea">
        <div class="title largeText" id="titleOrder">My Profile</div>
      </div>
      <div id="profilePictureArea" class="col-xs-12 col-sm-12	col-md-3 col-lg-3">
        <img id="profilePicture"/>
        <form id="profilePictureForm" action="../../Server/Responses/profilePicture.php" method="POST" enctype="multipart/form-data">
          <input type="button" name="chooseProfilePicture" value="Change profile picture" class="smallText button" id="profilePictureButton">
          <input type="file" id="filePicker">
          <input type="hidden" id="tmppath">
        </form>
        <div id="outputAreaPicture" class="outputArea smallText"></div>
      </div>
      <div class="formArea col-xs-12 col-sm-12	col-md-9 col-lg-9" id="formSelection">
        <div class="formRow">
          <input type="button" class="button smallText selectionButton" value="Manage personal information" id="personalFormSelection">
        </div>
        <div class="formRow">
          <input type="button" class="button smallText selectionButton" value="Change password" id="changePasswordSelection">
        </div>
        <div class="formRow">
          <input type="button" class="button smallText selectionButton" value="My company" id="addCompanySelection">
        </div>
      </div>
      <div id="personalForm" class="formArea col-xs-12 col-sm-12	col-md-9 col-lg-9">
        <div class="formRow">
          <div class="rowTitle smallText profileRow" id="emailTitle">Email</div>
          <input type="text" class="textInput profileRow personal" id="emailInput" name="email" disabled="true">
          <div class="smallText errorMessage profileRow personalFormError" id="emailError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow" id="fnameTitle">First name</div>
          <input type="text" class="textInput profileRow personal" id="fnameInput" name="fname">
          <div class="smallText errorMessage profileRow personalFormError" id="fnameError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow" id="mnameTitle">Middle name</div>
          <input type="text" class="textInput profileRow personal" id="mnameInput" name="mname">
          <div class="smallText errorMessage profileRow canSkip personalFormError" id="mnameError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow" id="lnameTitle">Last name</div>
          <input type="text" class="textInput profileRow personal" id="lnameInput" name="lname">
          <div class="smallText errorMessage profileRow personalFormError" id="lnameError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow" id="phoneTitle">Phone</div>
          <input type="text" class="textInput profileRow personal" id="phoneInput" name="phone">
          <div class="smallText errorMessage profileRow personalFormError" id="phoneError"></div>
        </div>
        <div class="formRow buttonRow">
          <input id="personalConfirmButton" type="button" name="confirmButton" value="Confirm" class="button smallText confirmButton">
          <input id="personalCancelButton" type="button" name="cancelButton" value="Cancel changes" class="button smallText cancelButton">
          <input type="button" name="backButton" value="Back" class="button smallText profileBackButton backButton">
        </div>
        <div class="formRow">
          <div id="outputAreaPersonalForm" class="outputAreaForm outputArea smallText"></div>
        </div>
      </div>
      <div id="passwordForm" class="formArea col-xs-12 col-sm-12	col-md-9 col-lg-9">
        <div class="formRow">
          <div class="rowTitle smallText profileRow">Current password</div>
          <input type="password" class="textInput profileRow password" name="currentPassword" id="currentPassword">
          <div class="smallText errorMessage profileRow passwordFormError" id="currentPasswordError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow">New password</div>
          <input type="password" class="textInput profileRow password" name="newPassword" id="newPassword">
          <div class="smallText errorMessage profileRow passwordFormError" id="newPasswordError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow">Repeat new password</div>
          <input type="password" class="textInput profileRow password" name="newPasswordRepeat" id="newPasswordRepeat">
          <div class="smallText errorMessage profileRow passwordFormError" id="newPasswordRepeatError"></div>
        </div>
        <div class="formRow buttonRow">
          <input id="passwordConfirmButton" type="button" name="confirmButton" value="Confirm" class="button smallText confirmButton">
          <input id="passwordClearButton" type="button" name="cancelButton" value="Clear" class="button smallText cancelButton">
          <input type="button" name="backButton" value="Back" class="button smallText profileBackButton backButton">
        </div>
        <div class="formRow">
          <div id="outputAreaPasswordForm" class="outputAreaForm outputArea smallText"></div>
        </div>
      </div>
      <div id="companyForm" class="formArea col-xs-12 col-sm-12	col-md-9 col-lg-9">
        <div class="formRow">
          <div class="rowTitle smallText profileRow">Company name</div>
          <input type="text" class="textInput profileRow company" name="companyName" id="companyName">
          <div class="smallText errorMessage profileRow companyFormError" id="companyNameError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow">Invoice address</div>
          <input type="text" class="textInput profileRow company" name="invoiceAddress" id="invoiceAddress">
          <div class="smallText errorMessage profileRow companyFormError" id="invoiceAddressError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow">ICO / Registration Number</div>
          <input type="text" class="textInput profileRow company" name="ico" id="ico">
          <div class="smallText errorMessage profileRow companyFormError" id="icoError"></div>
        </div>
        <div class="formRow">
          <div class="rowTitle smallText profileRow">DIC / Tax Number</div>
          <input type="text" class="textInput profileRow company" name="dic" id="dic">
          <div class="smallText errorMessage profileRow companyFormError" id="dicError"></div>
        </div>
        <div class="formRow buttonRow">
          <input id="companyConfirmButton" type="button" name="confirmButton" value="Confirm" class="button smallText confirmButton">
          <input id="companyCancelButton" type="button" name="cancelButton" value="Cancel changes" class="button smallText cancelButton">
          <input type="button" name="backButton" value="Back" class="button smallText profileBackButton backButton">
        </div>
        <div class="formRow">
          <div id="outputAreaCompanyForm" class="outputAreaForm outputArea smallText"></div>
        </div>
      </div>
    </div>
  </body>
