<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../Css/generalPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/myTransportsStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/myTransportsConfirmStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/routesStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/routeConfirmStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/tableStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/widgetsStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Global/getRequests.js"></script>
    <script src="../JQuery/Global/headerButtons.js"></script>
    <script src="../JQuery/Customer/myTransportsLoad.js"></script>
    <script src="../JQuery/Customer/myOrdersClick.js"></script>
    <script src="../JQuery/Customer/myTransportsClick.js"></script>
    <script src="../JQuery/Transporter/myRoutesClick.js"></script>
    <script src="../JQuery/Manager/transportsSearchBarClick.js"></script>
    <script src="../JQuery/Manager/transportsConfirm.js"></script>
    <script src="../JQuery/Global/notificationsAmmount.js"></script>
    <script src="../JQuery/Manager/validate.js"></script>
    <script src="../JQuery/Manager/validate.js"></script>

    <meta charset="UTF-8">
    <title>My Transports</title>
  </head>
  <body>
    <div class="container">
      <div class="preheader"></div>
       <div class="header">
         <div class="homeHeaderLogo largeText">VIP Transport</div>
         <div class="headerNotifications" id="notifications">
           <div class="notificationAmmount smallText"></div>
         </div>
         <div class="headerButtonsContainer"></div>
       </div>
        <div class="titleArea transportTitleButtons">
          <div class="title largeText" id="titleOrder">My Orders</div>
          <div class="title largeText" id="titleRoutes">My Routes</div>
          <div class="title largeText" id="titleTransport">My Transports</div>
        </div>

        <div class="orderSearchBarArea searchBar">
          <div class="idArea">
            <input id="idInput" type="text" maxlength="4" placeholder="ID" class="searchBarStyle">
            <input type="hidden" id="idRequest" val="">
          </div>
          <div class="dateFromArea">
            <div id="dateFromInput" class="searchBarStyle">Date from</div>
            <input type="hidden" id="dateFromRequest" val="">
          </div>
          <div class="dateFromArea">
            <div id="dateToInput" class="searchBarStyle">Date to</div>
            <input type="hidden" id="dateToRequest" val="">
          </div>
          <div class="emailArea">
            <input id="emailInput" type="text" maxlength="30" placeholder="Email" class="searchBarStyle">
            <input type="hidden" id="emailRequest" val="">
          </div>
          <div class="buttonArea">
            <input id="clearButton" type="button" class="searchBarStyle" value="Clear">
          </div>
        </div>
        <div class="datePickerArea">
          <input id="dateType" type="hidden" value="from">
          <input id="dateState" type="hidden" value="0">
        </div>
        <div class="orderTableArea" id="orderTableArea"></div>
        <div class="confirmArea">
          <div class="confirmFormArea">
            <div class="column" id="orderInformationColumn">
              <div id="detailsId" class="orderDetails smallText"></div>
              <input type="hidden" id="detailsIdInput" value="">
              <input type="hidden" id="detailsIdRouteInput" value="">
              <div id="detailsDate" class="orderDetails smallText"></div>
              <div id="detailsFrom" class="orderDetails smallText"></div>
              <div id="detailsTo" class="orderDetails smallText"></div>
              <div id="detailsPayment" class="orderDetails smallText"></div>
              <div id="detailsPasangerPhone" class="orderDetails smallText"></div>
              <div id="detailsPasangers" class="orderDetails smallText"></div>
              <div id="detailsNames" class="orderDetails smallText"></div>
            </div>
            <div id="confirmationTitle" class="smallText">Confirm order</div>
            <div class="colum" id="managerOrderInputColumn">
              <div class="selectionButton smallText" id="transporterSelect">Select Transporter</div>
              <input type="text" class="confirmSelectionInput selectionButton smallText" id="transporterSelection">
              <div class="confirmError smallText" id="transporterSelectError">ERROR</div>
              <div class="selectionButton smallText" id="carSelect">Select Car</div>
              <input type="text" class="confirmSelectionInput selectionButton smallText" id="carSelection">
              <div class="confirmError smallText" id="carSelectError">ERROR</div>
              <div class="confirmButtonRow">
                <input id="clearConfirmButton" type="button" class="searchBarStyle confirmOrderButton" value="Clear">
                <input id="submitConfirmButton" type="button" class="searchBarStyle confirmOrderButton" value="Submit">
                <input id="cancelConfirmButton" type="button" class="searchBarStyle confirmOrderButton" value="Cancel">
                <input type="hidden" value="confirm" id="confirmOrderAction">
              </div>
            </div>
            <div class="colum" id="managerSelectionColumn">

            </div>
            <div class="colum" id="managerCountryColumn">
              <div id="countriesTitle" class="smallText">Choose route (country code)</div>
              <div id="selectedCounties" class="smallText"><strong>Selected: </strong></div>
              <div id="countrySelection" class="smallText"></div>
            </div>
          </div>
        </div>
        <div class="routeDetailsArea area">
          <div class="routeDetailsFormArea formArea">
            <div class="lineBreak"></div>
            <div class="routeDetailsTitle largeText">Route details</div>
            <div class="informationContainer" id="detailsRoute">
              <div class="lineBreak"></div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Route ID :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsRouteId"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Order ID :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsOrderId"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Transporters email:</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsTransporter"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Car spz:</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsCar"></div>
              </div>
              <div class="detailsSubContainer" id="detailsCountriesContainer"></div>
            </div>
            <div class="informationContainer" id="detailsOrder">
              <div class="lineBreak"></div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Customer email: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsOrderCustomerEmail"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Date and time :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsOrderDate"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">From :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsOrderFrom"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">To :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsOrderTo"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Payment type :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsOrderPayment"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Pasangers phone :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsOrderPasangerPhone"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Number of pasangers :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="detailsOrderPasangers"></div>
              </div>
              <div class="detailsSubContainer" id="detailsCountriesNames"></div>
            </div>
            <div class="detailsButtonRow">
              <input id="checkStickersButton" type="button" class="searchBarStyle detailsButton" value="Check Stickers">
              <input id="cancelDetailsButton" type="button" class="searchBarStyle detailsButton" value="Cancel">
            </div>
            <div class="detailsResponseArea smallText"></div>
          </div>
        </div>
        <div class="routeConfirmArea area">
          <div class="routeConfirmFormArea routeFormArea">
            <div class="lineBreak"></div>
            <div class="routeDetailsTitle largeText" id="routeConfirmTitle">Enter information about transport</div>
            <div class="lineBreak"></div>
            <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="rowDetailsTitle smallText col-xs-5 col-sm-5 col-md-5 col-lg-5">Price: </div>
              <input type="text" class="smallText routeConfirmInput col-xs-4 col-sm-4 col-md-4 col-lg-4" id="routeConfirmPrice" value = "100">
              <div class="smallText routeConfirmError col-xs-3 col-sm-3 col-md-3 col-lg-3" id="routeConfirmPriceError">ERROR</div>
            </div>
            <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="rowDetailsTitle smallText col-xs-5 col-sm-5 col-md-5 col-lg-5">Mealige: </div>
              <input type="text" class="smallText routeConfirmInput col-xs-4 col-sm-4 col-md-4 col-lg-4 q" id="routeConfirmMealige" value="100">
              <div class="smallText routeConfirmError col-xs-3 col-sm-3 col-md-3 col-lg-3" id="routeConfirmMealigeError">ERROR</div>
            </div>
            <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="rowDetailsTitle smallText col-xs-5 col-sm-5 col-md-5 col-lg-5">Arrived to pick up place at (date): </div>
              <div class="routeConfirmInputSection col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="button smallText col-xs-8 col-sm-8 col-md-8 col-lg-8" id="transportDate">Select date</div>
                <div class="button smallText routeConfirmationButton col-xs-4 col-sm-4 col-md-4 col-lg-4" id="transportTodayDate">Today</div>
              </div>
              <div class="smallText routeConfirmError col-xs-3 col-sm-3 col-md-3 col-lg-3" id="routeConfirmDateError">ERROR</div>
            </div>
            <div id="datePickerRouteConfirm"></div>
            <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="rowDetailsTitle smallText col-xs-5 col-sm-5 col-md-5 col-lg-5">Arrived to pick up place at (time): </div>
              <div class="routeConfirmInputSection col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input type="text" class="smallText routeConfirmInput" id="routeConfirmTimeHour" maxlength="2" placeholder="HH">
                <div class="smallText" id="routeConfirmArrivalTimeColon">:</div>
                <input type="text" class="smallText routeConfirmInput" id="routeConfirmTimeMinute" maxlength="2" placeholder="MM">
              </div>
              <div class="smallText routeConfirmError col-xs-3 col-sm-3 col-md-3 col-lg-3" id="routeConfirmTimeError">ERROR</div>
            </div>
            <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="rowDetailsTitle smallText col-xs-5 col-sm-5 col-md-5 col-lg-5">Arrived to destination at (date): </div>
              <div class="routeConfirmInputSection col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="button smallText col-xs-8 col-sm-8 col-md-8 col-lg-8" id="transportDestinationDate">Select date</div>
                <div class="button smallText routeConfirmationButton col-xs-4 col-sm-4 col-md-4 col-lg-4" id="transportDestinationTodayDate">Today</div>
              </div>
              <div class="smallText routeConfirmError col-xs-3 col-sm-3 col-md-3 col-lg-3" id="routeConfirmDestinationDateError">ERROR</div>
            </div>
            <div id="datePickerRouteConfirmDestination"></div>
            <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="rowDetailsTitle smallText col-xs-5 col-sm-5 col-md-5 col-lg-5">Arrived to destination up place at (time): </div>
              <div class="routeConfirmInputSection col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <input type="text" class="smallText routeConfirmInput" id="routeConfirmDestinationTimeHour" maxlength="2" placeholder="HH">
                <div class="smallText" id="routeConfirmArrivalTimeColon">:</div>
                <input type="text" class="smallText routeConfirmInput" id="routeConfirmDestinationTimeMinute" maxlength="2" placeholder="MM">
                <div class="button smallText routeConfirmationButton" id="transportDestinationTimeNow">Now</div>
              </div>
              <div class="smallText routeConfirmError col-xs-3 col-sm-3 col-md-3 col-lg-3" id="routeConfirmDestinationTimeError">ERROR</div>
            </div>
            <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="rowDetailsTitle smallText col-xs-5 col-sm-5 col-md-5 col-lg-5">Transport type: </div>
              <div class="routeConfirmInputSection col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="button smallText transportTypeButton transportTypeHighlighted routeConfirmationButton col-xs-6 col-sm-6 col-md-6 col-lg-6" id="transportTypeOfficial">Official</div>
                <div class="button smallText transportTypeButton routeConfirmationButton col-xs-6 col-sm-6 col-md-6 col-lg-6" id="transportTypePersonal">Personal</div>
              </div>
              <input type="hidden" value="official" id="transportTypeValue">
            </div>
            <div class="lineBreak"></div>
            <div class="detailsButtonRow">
              <input id="cancelRouteConfirmButton" type="button" class="searchBarStyle detailsButton" value="Cancel">
              <input id="proceedRouteConfirmButton" type="button" class="searchBarStyle detailsButton" value="Proceed">
            </div>
            <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div id="routeConfirmPageNumber" class="smallText">1/2</div>
            </div>
            <input type="hidden" val="" id="routeConfirmOrderId">
            <input type="hidden" val="" id="routeConfirmRouteId">
          </div>
          <div class="routeValidateFromArea routeFormArea">
            <div class="lineBreak"></div>
            <div class="routeDetailsTitle largeText">Submit transport</div>
            <div class="informationContainer" id="submitRoute">
              <div class="lineBreak"></div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Route ID :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitRouteId"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Order ID :</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitOrderId"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Transporters email:</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitTransporter"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Car spz:</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitCar"></div>
              </div>
              <div class="detailsSubContainer" id="submitCountriesContainer"></div>
            </div>
            <div class="informationContainer" id="submitOrder">
              <div class="lineBreak"></div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Company name: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitCompanyName"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Company address: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitCompanyAddress"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">ICO: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitCompanyIco"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">DIC: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitCompanyDic"></div>
              </div>
              <div class="lineBreak"></div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Customer email: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitOrderCustomerEmail"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Date and time:</div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitOrderDate"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">From: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitOrderFrom"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">To: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitOrderTo"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Payment type: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitOrderPayment"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Pasangers phone: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitOrderPasangerPhone"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Number of pasangers: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitOrderPasangers"></div>
              </div>
              <div class="detailsSubContainer" id="submitCountriesNames"></div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Price: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitPrice"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Mealige: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitMealige"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Distance: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitDistance"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Arrival date (pick up): </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitArrivalDate"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Arrival time (pick up): </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitArrivalTime"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Arrival date (destination): </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitDestinationArrivalDate"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Arrival time (destination): </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitDestinationArrivalTime"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Duration: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitDuration"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Transport type: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitTransportType"></div>
              </div>
              <div class="lineBreak"></div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Confirmed by: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitConfirmedBy"></div>
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="rowDetailsTitle smallText col-xs-6 col-sm-6 col-md-6 col-lg-6">Type: </div>
                <div class="rowDetailsValue smallText col-xs-6 col-sm-6 col-md-6 col-lg-6" id="submitType"></div>
              </div>
              <div class="lineBreak"></div>
              <div class="detailsButtonRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input id="backRouteConfirmRepeatButton" type="button" class="searchBarStyle detailsButton" value="Back">
                <input id="cancelRouteConfirmRepeatButton" type="button" class="searchBarStyle detailsButton" value="Cancel">
                <input id="finishRouteConfirmButton" type="button" class="searchBarStyle detailsButton" value="Finish">
              </div>
              <div class="routeDetailsRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="routeConfirmPageNumber" class="smallText">2/2</div>
              </div>
              <div class="smallLineBreak"></div>
            </div>
            <div class="detailsButtonRow">

            </div>
          </div>
        </div>
        <div class="responseArea" id="responseArea"></div>
        <input type="hidden" id="type" value="customer">
        <input type="hidden" name ="token" id="transportToken" value="">
      </div>
    </div>
  </body>
