<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../Css/newOrderStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/generalPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/widgetsStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Customer/newOrderLoad.js"></script>
    <script src="../JQuery/Global/getRequests.js"></script>
    <script src="../JQuery/Global/headerButtons.js"></script>
    <script src="../JQuery/Customer/newOrder.js"></script>

    <meta charset="UTF-8">
    <title>New Order</title>
  </head>
  <body>
    <div class="container">
      <div class="preheader"></div>
       <div class="header">
         <div class="homeHeaderLogo largeText">VIP Transport</div>
         <div class="headerButtonsContainer"></div>
       </div>
      <div class="main">
        <div class="titleArea">
          <div class="title largeText">New Order</div>
        </div>
        <div class="mainParagraph">
          <form action="../../Server/Responses/newOrder.php" method="post" class="" id="orderForm">
          <div class="mainRow">
            <div class="mainText">Departure date: </div>
            <div class="button orderSelect" id="orderDate" name="orderDate">Select date</div>
            <div class="errorMessage" id="errorOrderDepartureDate"></div>
          </div>
          <div id = "datepickerMain" ></div>
          <div class="mainRow">
            <div class="mainText">Departure time:</div>
            <input type="text" id="orderTimeHour" name="orderTimeHour" class="mainTextInput largerMediumTextInput" value="" maxlength="2">
            <div class = "midText">:</div>
            <input type="text" id="orderTimeMinute" name="orderTimeMinute" class="mainTextInput largerMediumTextInput" value="" maxlength="2">
            <input type="button" name="amButton" value="AM" class="button smallButton orderButton" id="timeButtonAM">
            <input type="button" name="pmButton" value="PM" class="button smallButton orderButton" id="timeButtonPM">
            <input type="hidden" name="orderClock" value="" id="orderClock">
            <div class="errorMessage" id="errorOrderDepartureTime"></div>
          </div>
          <div class="mainRow">
            <div class="mainText">From (address): </div><input type="text" id="orderFrom" name="orderFrom" class="mainTextInput" maxlength="30">
            <div class="errorMessage" id="errorOrderFrom"></div>
          </div>
          <div class="mainRow">
            <div class="mainText">To (address): </div><input type="text" id="orderTo" name="orderTo" class="mainTextInput" maxlength="30">
            <div class="errorMessage" id="errorOrderTo"></div>
          </div>
          <div class="paymentType">
            <div class="errorMessage" id="errorOrderPaymentType"></div>
            <div class="button" id="paymentTypeButton" name="orderPayment">Select payment</div>
            <div class="button paymentSelection">Credit Card</div>
            <div class="button paymentSelection">Cash</div>
            <div class="button paymentSelection" id="paymentBill">Invoice</div>
          </div>
          <div class="mainRow">
            <div class="mainText">Pasangers: </div>
            <div class="button orderSelect"  id="orderPasangers" name="orderPasangers">2</div>
            <input type="button" name="plusButton" value="+" class="button smallButton orderButton" id="plusButton">
            <input type="button" name="minusButton" value="-" class="button smallButton orderButton" id="minusButton">
            <div class="errorMessage" id="errorOrderPasangers"></div>
          </div>
          <div id="pasangerNames">

          </div>
          <div class="mainRow orderResponseRow" id="orderResponseField">
            <div class="orderResponseText" id="orderResponseText"></div>
          </div>
          <div class="mainRow mainButtonRow">
            <input type="submit" name="submitOrder" value="Confirm" class="button" id="orderConfirmButton">
            <input type="button" name="clearOrder" value="Clear" class="button" id="orderClearButton">
          </div>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>
