<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../Css/generalPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/notificationsStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Global/getRequests.js"></script>
    <script src="../JQuery/Global/headerButtons.js"></script>
    <script src="../JQuery/Customer/NotificationsLoad.js"></script>
    <script src="../JQuery/Customer/NotificationsClick.js"></script>
    <script src="../JQuery/Global/notificationsAmmount.js"></script>

    <meta charset="UTF-8">
    <title>Notifications</title>
  </head>
  <body>
    <div class="container">
      <div class="preheader"></div>
       <div class="header">
         <div class="homeHeaderLogo largeText">VIP Transport</div>
         <div class="headerNotifications" id="notifications">
           <div class="notificationAmmount smallText"></div>
         </div>
         <div class="headerButtonsContainer"></div>
       </div>
      <div class="titleArea">
        <div class="title largeText" id="titleOrder">Notifications</div>
      </div>
      <div class="notificationButtonArea">
        <input type="button" class="buttonHome notificationButton buttonText" id="allNotifications" value="All">
        <input type="button" class="buttonHome notificationButton buttonText" id="unreadNotifications" value="Unread">
        <input type="hidden" value="all" id="notificationsType">
        <input type="button" class="buttonHome notificationButton buttonText" id="mark" value="Confirm all">
      </div>
      <div class="smallText" id="notificationsArea">
      </div>
      <div class="notificationButtonArea">
        <input type="button" class="buttonHome notificationButton buttonText" id="moreNotifications" value="Show more">
        <input type="hidden" value="10" id="notificationsLoaded">
      </div>
    </div>
  </div>
</body>
