<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../Css/generalPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/usersStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/tableStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Global/getRequests.js"></script>
    <script src="../JQuery/Global/headerButtons.js"></script>
    <script src="../JQuery/Manager/usersLoad.js"></script>
    <script src="../JQuery/Manager/usersClick.js"></script>
    <script src="../JQuery/Global/notificationsAmmount.js"></script>

    <meta charset="UTF-8">
    <title>My Transports</title>
  </head>
  <body>
    <div class="container">
      <div class="preheader"></div>
       <div class="header">
         <div class="homeHeaderLogo largeText">VIP Transport</div>
         <div class="headerNotifications" id="notifications">
           <div class="notificationAmmount smallText"></div>
         </div>
         <div class="headerButtonsContainer"></div>
       </div>
        <div class="titleArea">
          <div class="title largeText">Users</div>
        </div>
        <div class="employeeSearchBarArea">
          <div class="searchBarElement" id="typeArea">
            <input type="button" value="Customers" id="customersButton" class="typeButton">
            <input type="button" value="Transporters" id="transportersButton" class="typeButton">
            <input type="button" value="Managers" id="managersButton" class="typeButton">
            <input type="hidden" id="typeRequest" value="customer" class="request">
          </div>
          <div class="searchBarElement" id="emailArea">
            <input id="emailInput" type="text" maxlength="30" placeholder="Email" class="searchBarStyle inputElement" value="">
            <input type="hidden" id="emailRequest" value="" class="request">
          </div>
          <div class="searchBarElement" id="fnameArea">
            <input id="fnameInput" type="text" maxlength="30" placeholder="First name" class="searchBarStyle inputElement" value="">
            <input type="hidden" id="fnameRequest" value="" class="request">
          </div>
          <div class="searchBarElement" id="lnameArea">
            <input id="lnameInput" type="text" maxlength="30" placeholder="Last name" class="searchBarStyle inputElement" value="">
            <input type="hidden" id="lnameRequest" value="" class="request">
          </div>
          <div class="searchBarElement" id="buttonArea">
            <input id="clearButton" type="button" class="searchBarStyle" value="Clear">
          </div>
        </div>
        <div class="employeesTableArea" id="employeesTableArea"></div>
        <div class="registrationArea">
          <input type="button" value="New user" class="buttonHome" id="newUserButton">
        </div>
        <div class="registrationArea" id="formArea">
          <div id="registerForm">
            <div class="smallText" id="registerTitle">Register user</div>
            <div id="columnArea">
              <div class="registerColumn" id="leftErrColumn">
                <div class="registerRow">
                  <div class="rowError smallText" id="emailErr">Error</div>
                </div>
                <div class="registerRow">

                </div>
                <div class="registerRow">
                  <div class="rowError smallText" id="phoneErr">Error</div>
                </div>
              </div>
              <div class="registerColumn" id="leftColumn">
                <div class="registerRow">
                  <div class="rowTitle smallText">Email:*</div>
                  <input type="text" class="rowTextInput" id="emailInput" name="email">
                </div>
                <div class="registerRow">
                  <div class="rowTitle smallText">Password:*</div>
                  <input type="text" class="rowTextInput" id="passwordInput" disabled name="password">
                  <input type="button" class="userButton" id="generatePasswordButton" value="Generate">
                </div>
                <div class="registerRow">
                  <div class="rowTitle smallText">Phone:*</div>
                  <input type="text" class="rowTextInput" id="phoneInput" name="phone">
                </div>
              </div>
              <div class="registerColumn" id="rightColumn">
                <div class="registerRow">
                  <div class="rowTitle smallText">First name:*</div>
                  <input type="text" class="rowTextInput" id="fnameInput" name="firstName">
                </div>
                <div class="registerRow">
                  <div class="rowTitle smallText">Middle name:</div>
                  <input type="text" class="rowTextInput" id="mnameInput" name="middleName">
                </div>
                <div class="registerRow">
                  <div class="rowTitle smallText">Last name:*</div>
                  <input type="text" class="rowTextInput" id="lnameInput" name="lastName">
                </div>
              </div>
              <div class="registerColumn" id="rightErrColumn">
                <div class="registerRow">
                  <div class="rowError smallText" id="fnameErr">Error</div>
                </div>
                <div class="registerRow">
                  <div class="rowError smallText" id="mnameErr">Error</div>
                </div>
                <div class="registerRow">
                  <div class="rowError smallText" id="lnameErr">Error</div>
                </div>
              </div>
            </div>
            <div class="typeButtonArea">
              <input type="button" class="registerTypeButton userButton" id="registerCustomerButton" value="Customer">
              <input type="button" class="registerTypeButton userButton" id="registerTransporterButton" value="Transporter">
              <input type="button" class="registerTypeButton userButton" id="registerManagerButton" value="Manager">
              <input type="hidden" value="customer" id="registerType" name="type">
            </div>
            <div class="typeButtonArea">
              <input type="button" class="registerActionButton userButton" id="registerSubmitButton" value="Register">
              <input type="button" class="registerActionButton userButton" id="registerCancelButton" value="Cancel">
            </div>
          </div>
        </div>
        <div class="responseArea" id="responseArea"></div>
        <input type="hidden" id="type" value="customer">
      </div>
    </div>
  </body>
