<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="../Css/Bootstrap/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../Css/generalPageStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/usersStyles.css">
    <link rel="stylesheet" type="text/css" href="../Css/tableStyles.css">

    <script src="../JQuery/Source/jquery.js"></script>
    <script src="../JQuery/jquery-ui/jquery-ui.js"></script>

    <script src="../JQuery/Global/getRequests.js"></script>
    <script src="../JQuery/Global/headerButtons.js"></script>
    <script src="../JQuery/Manager/usersLoad.js"></script>
    <script src="../JQuery/Manager/usersClick.js"></script>
    <script src="../JQuery/Global/notificationsAmmount.js"></script>

    <meta charset="UTF-8">
    <title>Users</title>
  </head>
  <body>
    <div class="container">
      <div class="preheader"></div>
       <div class="header">
         <div class="homeHeaderLogo largeText">VIP Transport</div>
         <div class="headerNotifications" id="notifications">
           <div class="notificationAmmount smallText"></div>
         </div>
         <div class="headerButtonsContainer"></div>
       </div>
        <div class="titleArea">
          <div class="title largeText">Users</div>
        </div>
        <div class="employeeSearchBarArea">
          <div class="searchBarElement" id="typeArea">
            <input type="button" value="Customers" id="customersButton" class="typeButton">
            <input type="button" value="Transporters" id="transportersButton" class="typeButton">
            <input type="button" value="Managers" id="managersButton" class="typeButton">
            <input type="hidden" id="typeRequest" value="customer" class="request">
          </div>
          <div class="searchBarElement" id="emailArea">
            <input id="emailInput" type="text" maxlength="30" placeholder="Email" class="searchBarStyle inputElement" value="">
            <input type="hidden" id="emailRequest" value="" class="request">
          </div>
          <div class="searchBarElement" id="fnameArea">
            <input id="fnameInput" type="text" maxlength="30" placeholder="First name" class="searchBarStyle inputElement" value="">
            <input type="hidden" id="fnameRequest" value="" class="request">
          </div>
          <div class="searchBarElement" id="lnameArea">
            <input id="lnameInput" type="text" maxlength="30" placeholder="Last name" class="searchBarStyle inputElement" value="">
            <input type="hidden" id="lnameRequest" value="" class="request">
          </div>
          <div class="searchBarElement" id="buttonArea">
            <input id="clearButton" type="button" class="searchBarStyle" value="Clear">
          </div>
        </div>
        <div class="employeesTableArea" id="employeesTableArea"></div>
        <div class="">
          <input type="button" value="New user" class="buttonHome" id="newUserButton">
        </div>
        <div class="registrationArea" id="formArea">
          <div id="registerForm">
            <div class="smallText" id="registerTitle">Register user</div>
            <div id="columnArea">
              <div class="col-xs-12 col-sm-12	col-md-6 col-lg-6">
                <div class="registerColumn" id="leftColumn">
                  <div class="registerRow col-xs-12 col-sm-12	col-md-12 col-lg-12">
                    <div class="rowTitle smallText col-xs-5 col-sm-5	col-md-5 col-lg-5">Email:*</div>
                    <input type="text" class="rowTextInput col-xs-4 col-sm-4	col-md-4 col-lg-4" id="emailInput" name="email">
                    <div class="rowError smallText col-xs-3 col-sm-3	col-md-3 col-lg-3" id="emailErr">Error</div>
                  </div>
                  <div class="registerRow col-xs-12 col-sm-12	col-md-12 col-lg-12">
                    <div class="rowTitle smallText col-xs-5 col-sm-5	col-md-5 col-lg-5">Password:*</div>
                    <input type="text" class="rowTextInput col-xs-4 col-sm-4	col-md-4 col-lg-4" id="passwordInput" disabled name="password">
                    <input type="button" class="userButton col-xs-2 col-sm-2	col-md-2 col-lg-2" id="generatePasswordButton" value="Generate">
                  </div>
                  <div class="registerRow col-xs-12 col-sm-12	col-md-12 col-lg-12">
                    <div class="rowTitle smallText col-xs-5 col-sm-5	col-md-5 col-lg-5">Phone:*</div>
                    <input type="text" class="rowTextInput col-xs-4 col-sm-4	col-md-4 col-lg-4" id="phoneInput" name="phone">
                    <div class="rowError smallText col-xs-3 col-sm-3	col-md-3 col-lg-3" id="phoneErr">Error</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12	col-md-6 col-lg-6">
                <div class="registerColumn" id="rightColumn">
                  <div class="registerRow col-xs-12 col-sm-12	col-md-12 col-lg-12">
                    <div class="rowTitle smallText col-xs-5 col-sm-5	col-md-5 col-lg-5">First name:*</div>
                    <input type="text" class="rowTextInput col-xs-4 col-sm-4	col-md-4 col-lg-4" id="fnameInput" name="firstName">
                    <div class="rowError smallText col-xs-3 col-sm-3	col-md-3 col-lg-3" id="fnameErr">Error</div>
                  </div>
                  <div class="registerRow col-xs-12 col-sm-12	col-md-12 col-lg-12">
                    <div class="rowTitle smallText col-xs-5 col-sm-5	col-md-5 col-lg-5">Middle name:</div>
                    <input type="text" class="rowTextInput col-xs-4 col-sm-4	col-md-4 col-lg-4" id="mnameInput" name="middleName">
                    <div class="rowError smallText col-xs-3 col-sm-3	col-md-3 col-lg-3" id="mnameErr">Error</div>
                  </div>
                  <div class="registerRow col-xs-12 col-sm-12	col-md-12 col-lg-12">
                    <div class="rowTitle smallText col-xs-5 col-sm-5	col-md-5 col-lg-5">Last name:*</div>
                    <input type="text" class="rowTextInput col-xs-4 col-sm-4	col-md-4 col-lg-4" id="lnameInput" name="lastName">
                    <div class="rowError smallText col-xs-3 col-sm-3	col-md-3 col-lg-3" id="lnameErr">Error</div>
                  </div>
                </div>
                <div class="registerColumn" id="rightErrColumn">
                </div>
              </div>
            </div>
            <div class="typeButtonArea">
              <input type="button" class="registerTypeButton userButton" id="registerCustomerButton" value="Customer">
              <input type="button" class="registerTypeButton userButton" id="registerTransporterButton" value="Transporter">
              <input type="button" class="registerTypeButton userButton" id="registerManagerButton" value="Manager">
              <input type="hidden" value="customer" id="registerType" name="type">
            </div>
            <div class="typeButtonArea">
              <input type="button" class="registerActionButton userButton" id="registerSubmitButton" value="Register">
              <input type="button" class="registerActionButton userButton" id="registerCancelButton" value="Cancel">
            </div>
          </div>
        </div>
        <div class="responseArea" id="responseArea"></div>
        <input type="hidden" id="type" value="customer">
      </div>
    </div>
  </body>
